<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="indi.css">
    <title>project</title>
</head>

<body>
    <div id="noella">
        <h1>CSS Playground</h1>
        <p>Simple HTML tags are used to select. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus 
            repudiandae beatae aperiam, tempora et possimus cumque, optio voluptatibus reiciendis rerum 
            nisi doloremque quisquam esse libero voluptatum commodi labore iusto architecto.</p>

        <p id='second'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid soluta voluptas deleniti 
            autem id modi error nulla aperiam delectus eos incidunt ipsum, quasi, non quod possimus ea 
            nostrum deserunt vel.</p>
        <a href="https://www.google.com">click Me</a>

        <img src="https://wallpaperplay.com/walls/full/1/7/4/286153.jpg">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum fuga, laudantium at aliquam 
            repudiandae inventore eius! Ut, nisi dicta! Architecto eligendi repellat voluptas harum perferendis 
            voluptatibus sequi iusto molestiae cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolores, deserunt? Consequuntur inventore temporibus architecto, accusantium ad quidem saepe totam 
            voluptatem amet, officia molestiae quaerat tempore eius. Doloremque suscipit omnis nihil.</p>
        <h2>this is <span>second</span> page</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis aliquid cumque ut laboriosam 
            tempora quisquam fuga? Porro magni placeat optio numquam, hic minima ad cupiditate excepturi enim 
            amet fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fugit, saepe eius sint 
            sequi voluptates minus et debitis laudantium quos ullam nisi architecto obcaecati aspernatur porro 
            animi, eum quia harum?</p>
        
        
            
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, animi. Esse deserunt ullam 
            doloremque numquam inventore in, sed ducimus quisquam, voluptatem perferendis sint obcaecati 
            magnam itaque aliquam minus quidem incidunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, non. Accusamus necessitatibus 
            ad nam? Ab, obcaecati nemo doloribus tempore fugiat quo voluptatum consequuntur totam veritatis 
            accusantium temporibus praesentium repudiandae atque.</p>

    </div>
    <section>
        <div>
            <textarea id="story" name="story"
            rows="60" cols="43">Write CSS code here ...
           </textarea>
        </div>  

    </section>
    <script src="indi.js"></script>

    
    
</body>

</html>