<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
    </style>
    <script src="code/lib/codemirror.js"></script>
    <link href="code/lib/codemirror.css" rel="stylesheet">
    <script src="code/mode/xml/xml.js"></script>
    <script src="code/mode/css/css.js"></script>
    <script src="code/mode/javascript/javascript.js"></script>
    <link href="code/theme/material-ocean.css" rel="stylesheet">
    <script src="code/addon/edit/closetag.js"></script>
    <script src="code/addon/edit/closebrackets.js"></script>
    <script src="code/addon/edit/matchbrackets.js"></script>
    <script src="code/addon/fold/indent-fold.js"></script>
    <script src="code/addon/fold/xml-fold.js"></script>
    <script src="code/addon/display/placeholder.js"></script>
    <script src="code/addon/edit/matchtags.js"></script>
    <script src="code/addon/selection/active-line.js"></script>
    <link rel="stylesheet" href="indi.css">
</head>
<body>
    <div id="contain">
        <div id="handleleft"></div>
        <div id="handleright"></div>
        <div id="navpoint56">
            <div class='buton check1'>
                <button class="drag">Drag Mode</button>
            </div>
            <div class='buton check2'>
                <button class="html">HTML</button>
                <button class="css">CSS</button>
                <button class="js">JS</button>
            </div>

        </div>
        <div id="main">
            <div id="change">this is body of webpage</div>
            <div id="control">
                <div id="handle"></div>
                <textarea id="editorh" placeholder="html code......."></textarea>
                <textarea id="editorc" placeholder="CSS code......."></textarea>
                <textarea id="editorj" placeholder="vanila javascript code ...... "></textarea>
            </div>

        </div>
        <div id="handlebottom"></div>
    </div>
    <script>
        var editorh = CodeMirror.fromTextArea(document.getElementById('editorh'), {
            mode: { name: "xml", htmlMode: true, matchClosing: true},
            theme: "material-ocean",
            lineNumbers: true,
            autoCloseTags: true,
            tabMode:"indent",
            matchTags: {bothTags: true},
            styleActiveLine: "enabled"
        });
        editorh.setSize('100%','100%');

        var editorC = CodeMirror.fromTextArea(document.getElementById('editorc'), {
            mode: 'text/css',
            theme: "material-ocean",
            lineNumbers: true,
            autoCloseBrackets: true,
            tabMode:"indent",
            styleActiveLine: "enabled"
        });
        editorC.setSize('100%','100%');

        var editorJ = CodeMirror.fromTextArea(document.getElementById('editorj'), {
            mode: "javascript",
            theme: "material-ocean",
            lineNumbers: true,
            matchBrackets: true,
            autoCloseBrackets: true,
            tabMode:"indent",
            styleActiveLine: "enabled"
        });
        editorJ.setSize('100%','100%');


    </script>
    <script src="indi.js"></script>
</body>
</html>